body {
    margin: 0;
    padding: 0;
}

// nav stuff ------------------------------------------->

.nav{
    ul{
        text-align: center;
        display: block;
        a{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5em;
        padding: 0 1em 0 1em;
        }
    }
}

// end of nav, start of main content ------------->

.landing{
    .landingWrapper{
        width: 100%;
        margin: 0;
        border: 1px solid black;
        height: 100vh;
        .landingLeft{
            width: 50%;
            margin: 0;
            border: 1px solid black;
            height: 100vh;
            text-align: center;
            ul {
                list-style-type: none;
                display: block;
            }
        }
        .landingRight {
            border: 1px solid black;
            margin: 0;
            height: 100vh;
            text-align: center;
        }
    }
}
.recentProjects {
    width: 100%;
    height: 100vh;
    projectsLeft {
        border: 1px solid black;
        width: 50%;
        height: 100vh;
    }
    projectsRight {
        border: 1px solid black;
        width: 50%;
        height: 100vh;
    }
}
//footer stuff
footer {
    width: 100%;
    height: 15%;
    border: 1px solid black;
    color: aliceblue;
}